<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="/guest/css/index.css" rel="stylesheet">
	<meta charset="UTF-8">
<title>글수정</title>

</head>
<body>
	<table class="postcontent" style="border: 1px double #619991; height:350px; width:400px;" id="moditable">
		<form method="post" action="/guest/updatePost" name="modiForm">
		<input name="idx" th:value="${post.idx}" style="display:none;">
		<tr><td style="background-color:white; height:20px;"><input type="text" name="title" placeholder="제목" style="width:99%; background-color:#fcfcfc;" th:value="${post.title}"></td></tr><br>
		<tr><td><textarea rows="10" cols="20" name="conten" style="width:99%; height:100%; background-color:#fcfcfc; resize: none;" th:text="${post.conten}"></textarea></td></tr><br>
		<tr><td style="text-align:right; height:30px;"><span class="number"  onclick="modi()">WRITER</span></td></tr>
		</form>
	</table>
	<script>
	function modi(){
		document.modiForm.submit();

	}
	</script>
</body>
</html>